In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
aliments = pd.read_csv("../data/aliments.csv")
equipements = pd.read_csv("../data/equipements.csv")
energie = pd.read_csv("../data/energie.csv")

In [29]:
aliments_filtered = aliments.drop(["english_name", "french_attribut", 'id', "english_attribut", "french_tag", "english_tag", "comment", "sous_type", "status", "type", "validity_range", "unit"], axis=1)
aliments_filtered.rename(columns={"french_name" : "nom", "main_type" : "type"})

                                        nom   CO2                       type
0     Barre céréalière équilibre aux fruits  2.46        Produits céréaliers
1     Barre céréalière équilibre chocolatée  6.09        Produits céréaliers
2       Bière coeur de marché (4-5° alcool)  1.12                   Boissons
3          Bière de spécialités ou d'abbaye  1.12                   Boissons
4              Bière spéciale (5-6° alcool)  1.12                   Boissons
...                                     ...   ...                        ...
2431                                 Yaourt  1.52  Lait et produits laitiers
2432                    Yaourt à la grecque  2.26  Lait et produits laitiers
2433                    Yaourt à la grecque  2.12  Lait et produits laitiers
2434                    Yaourt à la grecque  2.14  Lait et produits laitiers
2435               Yaourt au lait de chèvre  1.68  Lait et produits laitiers

[2436 rows x 3 columns]

In [32]:
equipents_filtered = equipements.drop(['french_name', 'status', 'type', 'english_name', 'french_attribut', 'english_attribut', 'english_tag', 'unit', 'validity_range', 'comment', 'french_tag', 'id'], axis=1)
equipents_filtered.rename(columns={"complete_name" : "nom"}).head()

     CO2                                   nom
0   16.8            Appareil à raclettes 6-8p
1   47.3           Aspirateur ménager avec sac
2   52.4           Aspirateur ménager sans sac
3   83.0  Aspirateur professionnel à traineaux
4  160.0   Ballon électrique chauffe-eau 200L

In [34]:
energie_filtered = energie.drop(['status', 'id', 'english_name', 'french_attribut', 'english_attribut', 'type', 'french_tag', 'english_tag', 'validity_range', 'comment', 'unit'], axis = 1)
energie_filtered.rename(columns={"french_name" : "nom"})

                  nom     CO2
0         Electricité  0.0580
1    Fioul domestique  2.9500
2            Granulés  0.0469
3  Gaz naturel - 2022  2.3200